*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #222222;
}
button{
    padding: 15px;
    font-size: 20px;
    font-weight: bolder;
    background-color: transparent;
    color: #ECC053;
    border: 2px #ECC053 solid;
    border-radius: 100px;
    transition: .5s;
}
p, a, button{
    font-family: 'Arimo', sans-serif;
}
button:hover, .login:hover{
    cursor: pointer;
    border: 2px black solid;
    color: black;
}

h1, h2, h3 {
    font-family: 'Helios Extended', sans-serif;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 75px;
}
h3{
    font-size: 40px;
}

/* HEADER */
header{
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header img{
    height: 50px;
}
header div ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
header .login{
    border: 2px solid #ECC053;
    padding: 10px 50px;
    border-radius: 100px;
    color: #ECC053;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    transition: .5s;
}
header div ul a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 20px;
    position: relative;
    font-weight: 500;
    transition: .5s;
}

header div ul a::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ECC053;
    border-radius: 5px;
    left: 0;
    bottom: -5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}
header div ul a:hover{
    color: #ECC053;
    cursor: pointer;
}
header div ul a:hover::after{
    transform-origin: center;
    transform: scaleX(.80);
}

header div .dropdown{
    display: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover img{background-color: #abb1ab;}

/* HOME */
.home {
    height: 60vh;
    background-image: url("../img/bg pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    text-align: center;
}
.home span{
    color: #ECC053;
}
.home p{
    font-size: 25px;
    padding: 0 20%;
}

/* SERVICES */
.service{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    gap: 50px
}

.service .container{
    height: 600px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/yung sa services.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.service .container .features{
    height: 600px;
    width: 316px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: rgba(35,35,35,0.5);
}

.service .line{
    width: 250px;
    border: 1px #665C8B solid;
}

.service ul{
    width: 250px;
    text-align: justify;
}

.service li{
    margin: 10px 0 0 0;
}

/* ABOUT US */

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, transparent 50%, #ECC053 50%);
}

.about img{
    width: 60%;
}

.about h1{
    color: #ffffff;
    margin: 0 0 200px 0;
}

.about button{
    margin: 100px 0 0 0;
    padding: 10px 20px ;
    border: 2px black solid;
    color: black;
}

.about button:hover{
    border: 2px #8d763c solid;
    color: #8d763c;
}
.about div{
    height: 500px;
}

/* LOGIN AND REGISTRATION FORM */
.login-reg{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.login-reg span{
    text-decoration: underline;
    cursor: pointer;
    transition: 1s;
}
.login-reg span:hover{
    color: aqua;
}
.login-reg h3{
    font-size: 35px;
    font-weight: 100;
}

.login-reg .close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.login-reg .container{
    height: fit-content;
    width: fit-content;
    position: relative;
    background-color: black;
    border-radius: 30px;
    padding: 70px;
    gap: 10px;
}
.login-reg .container .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECC053;
}

.login-reg .container p{
    display: flex;
    justify-content: space-between;
}

.login-reg .login-form, .login-reg .reg-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* LOGIN FORM */
.login-form > div:nth-child(-n+2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form > div:nth-child(-n+2) input{
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}
.login-reg .container .logo img{
    width: 70px;
}

.login-reg .login-form .log-showhide{
    width: 30px;
    position: absolute;
    top: 52%;
    right: 17%;
    cursor: pointer;
    transition: 1s;
}

.login-reg button{
    padding: 10px;
    width: 100%;
    background-color: #ECC053;
    color: white;
    border-radius: 10px;
}

/* REGISTRATION FORM */

.reg-form > div:nth-child(-n+3) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reg-form > div:nth-child(-n+3) input{
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}
.login-reg .reg-form .reg-showhide{
    width: 30px;
    position: absolute;
    top: 63.5%;
    right: 17%;
    cursor: pointer;
    transition: 1s;
}


.login-reg .login-form-hide{
    display: none;
}

.login-reg .reg-form-hide{
    display: none;
}

.hide{
    display: none;
}
